@page
@model Web.Pages.Invitations.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h1 class="card-title display-4">
                    Invitations
                </h1>
            </div>

            <div class="col-md-6 text-md-right">
                <a class="btn btn-primary"
                   asp-page="./Send">Send New Invitation</a>
            </div>
        </div>



        <table class="table table-sm table-hover table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Survey</th>
                    <th>Response</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sp in Model.Sponsors)
                {
                    var sponsorClass =
                        sp.HasResponded
                            ? "table-success"
                            : "table-danger";

                    var thirdPartyClass =
                        sp.ThirdParty.HasResponded
                            ? "table-success"
                            : "table-danger";

                    <tr>
                        <td>
                            Sponsor
                            <br />
                            Third Party
                            <br />
                            <em>Summary</em>
                        </td>
                        <td style="font-weight: bold">
                            @sp.Name
                            <br />
                            @sp.ThirdParty.Name
                            <br />
                        </td>
                        <td>
                            <a href="mailto:@sp.Email">
                                @sp.Email
                            </a>

                            <br />

                            <a href="mailto:@sp.ThirdParty.Email">
                                @sp.ThirdParty.Email
                            </a>
                            <br />

                        </td>
                        <td>
                            @if (sp.HasResponded)
                            {
                                <span class="text-success"
                                      style="font-weight: bold">
                                    N/A
                                </span>
                            }
                            else
                            {
                                <a href="@Model.ClientBase/Sponsor/@sp.UniqueIdentifier"
                                   target="_blank">
                                    Link
                                </a>
                            }
                            <br />

                            @if (sp.ThirdParty.HasResponded)
                            {
                                <span class="text-success"
                                      style="font-weight: bold">
                                    N/A
                                </span>
                            }
                            else
                            {
                                <a href="@Model.ClientBase/ThirdParty/@sp.UniqueIdentifier"
                                   target="_blank">
                                    Link
                                </a>
                            }
                            <br />

                            @if (sp.SummaryId is null)
                            {
                                <a asp-page="/Summary/Index"
                                   asp-route-id="@sp.Id">Link</a>
                            }
                            else
                            {
                                <span class="text-success"
                                      style="font-weight: bold">
                                    N/A
                                </span>
                            }

                        </td>
                        <td>
                            @if (sp.HasResponded)
                            {
                                <a asp-page="/Responses/Sponsor"
                                   asp-route-id="@sp.Id"
                                   target="_blank">
                                    Link
                                </a>
                            }
                            else
                            {
                                <span class="text-danger"
                                      style="font-weight: bold">
                                    N/A
                                </span>
                            }
                            <br />

                            @if (sp.ThirdParty.HasResponded)
                            {
                                <a asp-page="/Responses/ThirdParty"
                                   asp-route-id="@sp.ThirdPartyId"
                                   target="_blank">
                                    Link
                                </a>
                            }
                            else
                            {
                                <span class="text-danger"
                                      style="font-weight: bold">
                                    N/A
                                </span>
                            }
                            <br />

                            @if (sp.SummaryId is null)
                            {
                                <span class="text-danger"
                                      style="font-weight: bold">
                                    N/A
                                </span>
                            }
                            else
                            {
                                <a asp-page="Responses/Summary"
                                   asp-route-id="@sp.Id"
                                   target="_blank">
                                    Link
                                </a>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




