@page "{id:int}"
@model Web.Pages.Responses.SponsorModel
@{
    ViewData["Title"] = "Sponsor";
}

<div class="card">
    <div class="card-body">
        <h1 class="card-header display-4">
            Sponsor Response
        </h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Response</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>
                        A. TYPE OF TPR REPRESENTATIVE
                    </th>
                    <td>@Model.SResponse.A1</td>
                </tr>

                <tr>
                    <th colspan="2">
                        B. BUSINESS RELATED INFORMATION
                    </th>
                </tr>

                <tr>
                    <td>
                        1. Product Line Involved
                    </td>
                    <td>@Model.SResponse.B1</td>
                </tr>

                <tr>
                    <td>
                        2.  Region Involved
                    </td>
                    <td>@Model.SResponse.B2</td>
                </tr>

                <tr>
                    <td>
                        3.  Will services provided relate to a Thermon “Greenfield” project?
                    </td>
                    <td>@Model.SResponse.B3</td>
                </tr>

                <tr>
                    <th colspan="2">
                        C. TPR REPRESENTATIVE
                    </th>
                </tr>

                <tr>
                    <td>
                        1. Full Legal Name
                    </td>
                    <td>@Model.SResponse.C1</td>
                </tr>

                <tr>
                    <td>
                        2. Country(s) where services will be provided
                    </td>
                    <td>@Model.SResponse.C2</td>
                </tr>

                <tr>
                    <td>
                        3. For Government Agency Agent, type of Services being provided
                    </td>
                    <td>@Model.SResponse.C3</td>
                </tr>

                <tr>
                    <td>
                        4. Adress
                    </td>
                    <td>@Model.SResponse.C4</td>
                </tr>

                <tr>
                    <td>
                        5. Website
                    </td>
                    <td>@Model.SResponse.C5</td>
                </tr>

                <tr>
                    <td>
                        6. Promary Contact at TPR
                    </td>
                    <td>@Model.SResponse.C6</td>
                </tr>

                <tr>
                    <td>
                        7. Email Adress of the Primary Contact
                    </td>
                    <td>@Model.SResponse.C7</td>
                </tr>

                <tr>
                    <th colspan="2">
                        D. SELECTION OF TPR
                    </th>
                </tr>

                <tr>
                    <td>
                        1.  The primary reason(s) the TPR was selected versus another TPR
                    </td>
                    <td>@Model.SResponse.D1</td>
                </tr>

                <tr>
                    <td>
                        2.  Describe the TPR`s experience including length of time in business, particular expertise       and include names of other companies that work with them
                    </td>
                    <td>@Model.SResponse.D2</td>
                </tr>

                <tr>
                    <td>
                        3.  Briefly describe the process that was used in the selection of the TPR (obtained recommendations, interviewed them, formal tender, etc.)
                    </td>
                    <td>@Model.SResponse.D3</td>
                </tr>


                <tr>
                    <th colspan="2">
                        E. BACKGROUND OF THE TPR
                    </th>
                </tr>

                <tr>
                    <td>
                        1. Is there any concern regarding the reputation of the TRP from a business integrity or compliance standpoint.  For example, has the TPR faced allegations of bribery, kickbacks, fraud or other wrongdoings?
                    </td>
                    <td>@Model.SResponse.E1</td>
                </tr>

                <tr>
                    <td>
                        2. Did a representative of the customer or a government official recommend (without us requesting a recommendation) or insist that we use the TPR?
                    </td>
                    <td>@Model.SResponse.E2</td>
                </tr>

                <tr>
                    <td>
                        3. Has the TPR requested that they receive payment: 1) in a jurisdiction other than the country in which the services are being provided or the country of their corporate headquarters, 2) to an account that does not appear to be their company`s business account or 3) to a party that is not part of the contract?
                    </td>
                    <td>@Model.SResponse.E3</td>
                </tr>

                <tr>
                    <th colspan="2">
                        F. INTERNAL INFORMATION
                    </th>
                </tr>

                <tr>
                    <td>
                        1. Thermon employee primarily responsible for the TPR relationship (“Primary Person Responsible”)
                    </td>
                    <td>@Model.SResponse.F1</td>
                </tr>

                <tr>
                    <td>
                        2. Email of Primary Person Responsible/Creator of this Form
                    </td>
                    <td>@Model.SResponse.F2</td>
                </tr>

                <tr>
                    <td>
                        3. Email of supervisor for the Primary Person Responsible
                    </td>
                    <td>@Model.SResponse.F3</td>
                </tr>

                <tr>
                    <th colspan="2">
                        G. COMPLETED AND CONFIRM AS ACCURATE
                    </th>
                </tr>

                <tr>
                    <td>
                        1. Full Name and Title
                    </td>
                    <td>@Model.SResponse.G1</td>
                </tr>

                <tr>
                    <td>
                        2. Email Adress
                    </td>
                    <td>@Model.SResponse.G2
                    <td>
                </tr>

                <tr>
                    <td>
                        3.Date
                    </td>
                    <td>@Model.SResponse.G3</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>