@page "{id:int}"
@model Web.Pages.Responses.ThirdPartyModel
@{
    ViewData["Title"] = "Third Party Representative Response";
}

<div class="card">
    <div class="card-body pb-0">
        <h1 class="card-title display-4">
            @ViewData["Title"]
        </h1>

        <div style="font-size: x-large; font-weight: 400;"
             class="mb-2 text-right card-subtitle">
            @Model.Tpr.Name
            <<email>@Model.Tpr.Email</email>>
        </div>

        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th class="w-75">
                        Question
                    </th>

                    <th class="w-25 text-right">
                        Response
                    </th>
                </tr>
            </thead>

            <!--DOCUMENTS-->
            <tbody>
                <tr>
                    <th colspan="2" class="text-right">
                        FILE DOWNLOAD
                    </th>
                </tr>

                <tr>
                    <td colspan="2">
                        @{ var disabled = Model.TprResponse.DocumentAId is null ? "disabled" : ""; }
                        <a class="btn btn-sm btn-block btn-link btn-secondary text-white @disabled"
                           asp-controller="Files"
                           asp-action="Get"
                           asp-route-id="@Model.TprResponse.DocumentAId">
                            (A) Certificate
                        </a>

                        @{ disabled = Model.TprResponse.DocumentBId is null ? "disabled" : ""; }
                        <a class="btn btn-sm btn-block btn-link btn-secondary text-white @disabled"
                           asp-controller="Files"
                           asp-action="Get"
                           asp-route-id="@Model.TprResponse.DocumentBId">
                            (B) Business Brochures / Annual Report
                        </a>

                        @{ disabled = Model.TprResponse.DocumentCId is null ? "disabled" : ""; }
                        <a class="btn btn-sm btn-block btn-link btn-secondary text-white @disabled"
                           asp-controller="Files"
                           asp-action="Get"
                           asp-route-id="@Model.TprResponse.DocumentCId">
                            (C) Financial Statements
                        </a>

                        @{ disabled = Model.TprResponse.DocumentDId is null ? "disabled" : ""; }
                        <a class="btn btn-sm btn-block btn-link btn-secondary text-white @disabled"
                           asp-controller="Files"
                           asp-action="Get"
                           asp-route-id="@Model.TprResponse.DocumentDId">
                            (D) CV
                        </a>

                        @{ disabled = Model.TprResponse.DocumentEId is null ? "disabled" : ""; }
                        <a class="btn btn-sm btn-block btn-link btn-secondary text-white @disabled"
                           asp-controller="Files"
                           asp-action="Get"
                           asp-route-id="@Model.TprResponse.DocumentEId">
                            (E) Policies
                        </a>
                    </td>
                </tr>
            </tbody>

            <!--FORM COMPLETION INFORMATION-->
            <tbody>
                <tr>
                    <th colspan="2" class="text-right">
                        FORM COMPLETION INFORMATION
                    </th>
                </tr>

                <tr>
                    <td>
                        Date
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.A1
                    </td>
                </tr>

                <tr>
                    <td>
                        a. Name
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.A2A
                    </td>
                </tr>

                <tr>
                    <td>
                        b. E-Mail
                    </td>
                    <td class="text-right">
                        <email>@Model.TprResponse.A2B</email>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        c. Telephone
                    </td>
                </tr>

                <tr>
                    <td>
                        c.1. Landline
                    </td>
                    <td class="text-right">
                        <tel>@Model.TprResponse.A2C1</tel>
                    </td>
                </tr>

                <tr>
                    <td>
                        c.2. Cell
                    </td>
                    <td class="text-right">
                        <tel>@Model.TprResponse.A2C2</tel>
                    </td>
                </tr>
            </tbody>

            <!--BUSINESS INFORMATION-->
            <tbody>
                <tr>
                    <th colspan="2" class="text-right">
                        BUSINESS INFORMATION
                    </th>
                </tr>

                <tr>
                    <td>
                        1. Your organization’s Full
                        Legal Name, hereafter to be referred to as COMPANY
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.B1
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        2. COMPANY Information
                    </td>
                </tr>

                <tr>
                    <td>
                        a. Tax number/Jurisdiction
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.B2A
                    </td>
                </tr>

                <tr>
                    <td>
                        b. Main office address
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.B2B
                    </td>
                </tr>

                <tr>
                    <td>
                        c. Address of any other location
                        in the country from which COMPANY
                        will be providing services.
                        If none, please indicate.
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.B2C
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        d. Telephone
                    </td>
                </tr>

                <tr>
                    <td>
                        d.1. Landline
                    </td>
                    <td class="text-right">
                        <tel>@Model.TprResponse.B2D1</tel>
                    </td>
                </tr>

                <tr>
                    <td>
                        d.2. Cell
                    </td>
                    <td class="text-right">
                        <tel>@Model.TprResponse.B2D2</tel>
                    </td>
                </tr>

                <tr>
                    <td>
                        e. Email
                    </td>
                    <td class="text-right">
                        <email>@Model.TprResponse.B2E</email>
                    </td>
                </tr>

                <tr>
                    <td>
                        f. Website
                    </td>
                    <td class="text-right">
                        <url>@Model.TprResponse.B2F</url>
                    </td>
                </tr>

                <tr>
                    <td style="font-style: italic;" colspan="2">
                        Company Information if it is am Individual
                    </td>
                </tr>

                <tr>
                    <td>
                        a. Personal Name
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.B2Oa
                    </td>
                </tr>

                <tr>
                    <td>
                        b. Date of Birth
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.B2Ob
                    </td>
                </tr>

                <tr>
                    <td>
                        c. ID number
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.B2Oc
                    </td>
                </tr>

                <tr>
                    <td>
                        d. Tax number/Juristriction
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.B2Od
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="font-style:italic;">
                        Organizational information relating to COMPANY
                    </td>
                </tr>

                <tr>
                    <td>
                        a. COMPANY business structure
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.B3A
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        b. Approximate establishment
                        date and legal jurisdiction of formation
                    </td>
                </tr>

                <tr>
                    <td>
                        b.1. Date
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.B3B1
                    </td>
                </tr>

                <tr>
                    <td>
                        b.2 Jurisdiction
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.B3B2
                    </td>
                </tr>

                <tr>
                    <td>
                        c. Approximate number of employees
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.B3C
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        d. Ownership
                    </td>
                </tr>

                <tr>
                    <td>
                        d.1) Does any governmental or government
                        entity hold equity interest in the COMPANY?
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.B3D1A
                    </td>
                </tr>

                <tr>
                    <td>
                        If yes, the governmental’s
                        equity interest in the COMPANY is
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.B3D1B
                    </td>
                </tr>

                <tr>
                    <td>
                        d.2) Does the COMPANY have
                        securities listed on a public exchange?
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.B3D2
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        4. Please provide the following
                        business information relating to COMPANY
                    </td>
                </tr>

                <tr>
                    <td>
                        a. Describe your core business activities
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.B4A
                    </td>
                </tr>

                <tr>
                    <td>
                        b. Other operating businesses that
                        have controlling interest in you or you control
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.B4B
                    </td>
                </tr>

                <tr>
                    <td>
                        c. Countries in which you operate or provide services
                    </td>
                    <td class="text-right">
                        @{
                            var countries = Model.TprResponse.B4C.Split("; ");
                        }
                        @for (var i = 0; i < countries.Length; i++)
                        {
                            if (!string.IsNullOrWhiteSpace(countries[i]))
                            {
                                <span>(@(i + 1)) @countries[i]</span>
                                <br />
                            }
                        }
                    </td>
                </tr>

                <tr>
                    <td>
                        5. Do you have business financial statements?
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.B5
                    </td>
                </tr>
            </tbody>

            <!--REFERENCE INFORMATION-->
            <tbody>
                <tr>
                    <th colspan="2" class="text-right">
                        REFERENCE INFORMATION
                    </th>
                </tr>

                <tr>
                    <td style="font-style: italic; font-weight: 500;" colspan="2">
                        1. Business Reference #1
                    </td>
                </tr>

                <tr>
                    <td>
                        a. Company Name
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.C1A
                    </td>
                </tr>

                <tr>
                    <td>
                        b. Contact Person
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.C1B
                    </td>
                </tr>

                <tr>
                    <td>
                        c. Job Title
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.C1C
                    </td>
                </tr>

                <tr>
                    <td>
                        d. Email
                    </td>
                    <td class="text-right">
                        <email>@Model.TprResponse.C1D</email>
                    </td>
                </tr>

                <tr>
                    <td>
                        e. Address
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.C1E
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        f. Telephone
                    </td>
                </tr>

                <tr>
                    <td>
                        f.1. Landline
                    </td>
                    <td class="text-right">
                        <tel>@Model.TprResponse.C1F1</tel>
                    </td>
                </tr>

                <tr>
                    <td>
                        f.2. Cell
                    </td>
                    <td class="text-right">
                        <tel>@Model.TprResponse.C1F1</tel>
                    </td>
                </tr>


                <tr>
                    <td style="font-style: italic; font-weight: 500;" colspan="2">
                        2. Business Reference #2
                    </td>
                </tr>

                <tr>
                    <td>
                        a. Company Name
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.C2A
                    </td>
                </tr>

                <tr>
                    <td>
                        b. Contact Person
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.C2B
                    </td>
                </tr>

                <tr>
                    <td>
                        c. Job Title
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.C2C
                    </td>
                </tr>

                <tr>
                    <td>
                        d. Email
                    </td>
                    <td class="text-right">
                        <email>@Model.TprResponse.C2D</email>
                    </td>
                </tr>

                <tr>
                    <td>
                        e. Address
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.C2E
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        f. Telephone
                    </td>
                </tr>

                <tr>
                    <td>
                        f.1. Landline
                    </td>
                    <td class="text-right">
                        <tel>@Model.TprResponse.C2F1</tel>
                    </td>
                </tr>

                <tr>
                    <td>
                        f.2. Cell
                    </td>
                    <td class="text-right">
                        <tel>@Model.TprResponse.C2F1</tel>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="font-style: italic; font-weight: 500;">
                        3. External Financial Reference
                    </td>
                </tr>

                <tr>
                    <td>
                        a. Company Name
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.C3A
                    </td>
                </tr>

                <tr>
                    <td>
                        b. Contact Person
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.C3B
                    </td>
                </tr>

                <tr>
                    <td>
                        c. Job Title
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.C3C
                    </td>
                </tr>

                <tr>
                    <td>
                        d. Email
                    </td>
                    <td class="text-right">
                        <email>@Model.TprResponse.C3D</email>
                    </td>
                </tr>

                <tr>
                    <td>
                        e. Address
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.C3E
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        f. Telephone
                    </td>
                </tr>

                <tr>
                    <td>
                        f.1. Landline
                    </td>
                    <td class="text-right">
                        <tel>@Model.TprResponse.C3F1</tel>
                    </td>
                </tr>

                <tr>
                    <td>
                        f.2. Cell
                    </td>
                    <td class="text-right">
                        <tel>@Model.TprResponse.C3F1</tel>
                    </td>
                </tr>
            </tbody>

            <!--PERSONAL INFORMATION-->
            <tbody>
                <tr>
                    <th colspan="2" class="text-right">
                        PERSONAL INFORMATION
                    </th>
                </tr>

                <tr>
                    <td class="text-justify">
                        1. Please list all partners, directors
                        and/or greater than 10% owners/shareholders
                        (collectively, the “COMPANY Leaders”).
                        Do not provide any information that may not
                        be allowed under your applicable data privacy
                        laws and regulations
                    </td>
                    <td class="text-right">
                        @{
                            var names = Model.TprResponse.D1.Split("; ");
                        }
                        @for (var i = 0; i < names.Length; i++)
                        {
                            if (!string.IsNullOrWhiteSpace(names[i]))
                            {
                                <span>(@(i + 1)) @names[i]</span>
                                <br />
                            }
                        }
                    </td>
                </tr>

                <tr>
                    <td class="text-justify">
                        2. Please list all employees who will interact
                        with government officials or government owned
                        companies, when working with us (the “COMPANY Employees”).
                    </td>
                    <td class="text-right">
                        @{
                            names = Model.TprResponse.D2.Split("; ");
                        }
                        @for (var i = 0; i < names.Length; i++)
                        {
                            if (!string.IsNullOrWhiteSpace(names[i]))
                            {
                                <span>(@(i + 1)) @names[i]</span>
                                <br />
                            }
                        }
                    </td>
                </tr>

                <tr>
                    <td class="text-justify">
                        3. Does any COMPANY Leader or COMPANY Employee
                        hold or maintain additional ownership
                        (more than a nominal amount),
                        directorships and/or employment
                        outside your primary business?
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.D3
                    </td>
                </tr>

                <tr>
                    <td class="text-justify">
                        4. Has any COMPANY Leader or COMPANY Employee
                        ever held a job in the government or was any
                        COMPANY Leader or COMPANY Employee an officer
                        in the military?
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.D4
                    </td>
                </tr>
                        
            @{
                var d4a = Model.TprResponse.D4A.Split("; ");
                var d4b = Model.TprResponse.D4B.Split("; ");
                var d4c = Model.TprResponse.D4C.Split("; ");
                var d4d = Model.TprResponse.D4D.Split("; ");
            }
            @for (var i = 0; i < d4a.Length; i++)
            {
                <tr>
                    <td>
                        a. Name
                    </td>
                    <td class="text-right">
                        @d4a[i]
                    </td>
                </tr>

                <tr>
                    <td>
                        b. Last Title
                    </td>
                    <td class="text-right">
                        @d4b[i]
                    </td>
                </tr>

                <tr>
                    <td>
                        c. Employment/position hire date
                    </td>
                    <td class="text-right">
                        @d4c[i]
                    </td>
                </tr>

                <tr style="border-bottom: 2px solid black;">
                    <td>
                        d. Employment/position termination date
                    </td>
                    <td class="text-right">
                        @d4d[i]
                    </td>
                </tr>
            }

                <tr>
                    <td class="text-justify">
                        5. Are there any local laws applicable to
                        any COMPANY Leader or COMPANY Employee which
                        place restrictions on individuals after they
                        leave public service?
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.D5
                    </td>
                </tr>

                <tr>
                    <td class="text-justify">
                        6. Does any person, entity, government
                        or government agency not listed as an
                        COMPANY Leader or COMPANY Employee have
                        any management right or
                        financial interest (other than less
                        than 10%/passive shareholder) in your business?
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.D6
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td class="text-right">
                        @{
                            names = Model.TprResponse.D6A.Split("; ");
                        }
                        @for (var i = 0; i < names.Length; i++)
                        {
                            if (!string.IsNullOrWhiteSpace(names[i]))
                            {
                                <span>(@(i + 1)) @names[i]</span>
                                <br />
                            }
                        }
                    </td>
                </tr>
            </tbody>

            <!--POTENTIAL CONFLICTS INFORMATION-->
            <tbody>
                <tr>
                    <th colspan="2" class="text-right">
                        POTENTIAL CONFLICTS INFORMATION
                    </th>
                </tr>

                <tr>
                    <td class="text-justify">
                        1. Does any COMPANY Leader or COMPANY
                        Employee hold any position with or
                        have any duties for any political party,
                        political campaign or active
                        candidate for political office?
                    </td>
                    <td class="text-right">@Model.TprResponse.E1A</td>
                </tr>

                <tr>
                    <td>
                        Please inform who
                    </td>
                    <td class="text-right">
                        @{
                            names = Model.TprResponse.E1B.Split("; ");
                        }
                        @for (var i = 0; i < names.Length; i++)
                        {
                            if (!string.IsNullOrWhiteSpace(names[i]))
                            {
                                <span>(@(i + 1)) @names[i]</span>
                                <br />
                            }
                        }
                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="text-justify">
                        2. Are any family members of
                        any COMPANY Leader or COMPANY Employee
                    </td>
                </tr>

                <tr>
                    <td class="text-justify">
                        a. Employed or otherwise engaged
                        in any capacity by any government
                        or government controlled company,
                        or serves as an officer in the military?
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.E2A
                    </td>
                </tr>

                <tr>
                    <td class="text-justify">
                        b. Employed by or have duties for
                        any political party, campaign or
                        is a candidate for political office?
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.E2B
                    </td>
                </tr>

                <tr>
                    <td class="text-justify">
                        3. Will the COMPANY, any COMPANY Leader
                        or COMPANY Employee solicit business
                        from any government agency or
                        government controlled company?
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.E3
                    </td>
                </tr>
            </tbody>

            <!--COMPLIANCE INFORMATION-->
            <tbody>
                <tr>
                    <th colspan="2" class="text-right">
                        COMPLIANCE INFORMATION
                    </th>
                </tr>

                <tr>
                    <td class="text-justify">
                        1. Does the COMPANY currently have a
                        written policy addressing ethical
                        business practices and the prevention of bribery?
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.F1
                    </td>
                </tr>

                <tr>
                    <td class="text-justify">
                        2. In which country will you seek to be paid for services?
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.F2
                    </td>
                </tr>

                <tr>
                    <td class="text-justify">
                        3. Please indicate preferred method of payment
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.F3
                    </td>
                </tr>

                <tr>
                    <td class="text-justify">
                        4. Has the COMPANY, any COMPANY Leader
                        or COMPANY Employee ever been convicted
                        of violating any rules or regulations
                        governing the purchase or
                        sale of goods or services?
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.F4
                    </td>
                </tr>

                <tr>
                    <td class="text-justify">
                        5. Has the COMPANY, any COMPANY Leader
                        or COMPANY Employee ever been found
                        guilty of violating any law governing
                        donations, contributions, honoraria,
                        or any other form of remuneration to
                        any government official?
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.F5
                    </td>
                </tr>

                <tr>
                    <td class="text-justify">
                        6. Has the COMPANY, any COMPANY Leader
                        or COMPANY Employee ever been found guilty
                        of any violations of anti-corruption,
                        securities, trading or tax laws?
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.F6
                    </td>
                </tr>

                <tr>
                    <td class="text-justify">
                        7. Has the COMPANY, any COMPANY Leader
                        or COMPANY Employee ever been deposed
                        or subpoenaed in connection with any
                        litigation or investigation involving
                        any law governing donations, contributions,
                        honoraria, or any other form of
                        remuneration to any government official?
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.F7
                    </td>
                </tr>

                <tr>
                    <td class="text-justify">
                        8. Has the COMPANY, any COMPANY Leader
                        or COMPANY Employee ever been deposed,
                        subpoenaed or asked to testify before any
                        legislative body concerning fraud or
                        abuse with regard to the purchase or
                        sale of goods or services?
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.F8
                    </td>
                </tr>

                <tr>
                    <td class="text-justify">
                        9. Has the COMPANY, any COMPANY Leader
                        or COMPANY Employee ever been found guilty
                        of any violations of laws governing the
                        regulation of antitrust practices or
                        been deposed or subpoenaed in connection
                        with any litigation or investigation
                        involving such laws?
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.F9
                    </td>
                </tr>

                <tr>
                    <td class="text-justify">
                        10. Has the COMPANY, any COMPANY Leader
                        or COMPANY Employee ever been mentioned
                        by name in the press
                        (i.e. article in newspaper, magazine
                        or online vehicles) as having violated
                        anti-corruption or anti-trust laws?
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.F10
                    </td>
                </tr>

                <tr>
                    <td class="text-justify">
                        11. Has the COMPANY, or any company
                        in which your company owns more than
                        a 10% interest ever been disbarred
                        from competing for World Bank contracts? ?
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.F11
                    </td>
                </tr>

                <tr>
                    <td class="text-justify">
                        12. Has the COMPANY or any COMPANY Leader
                        ever been the subject of any voluntary or
                        involuntary bankruptcy or other similar
                        proceeding?
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.F12
                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="text-justify">
                        13. Is the COMPANY, any COMPANY Leader
                        or COMPANY Employee currently named on
                        any of the following lists?
                    </td>
                </tr>

                <tr>
                    <td class="text-justify">
                        a. The Specially Designated
                        Nationals List (the “SDN”)
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.F13A
                    </td>
                </tr>

                <tr>
                    <td class="text-justify">
                        b. The Specially Designated
                        Global Terrorist List
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.F13B
                    </td>
                </tr>

                <tr>
                    <td class="text-justify">
                        c. The Specially Designated Narcotics
                        Traffickers List or Kingpin List
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.F13C
                    </td>
                </tr>

                <tr>
                    <td class="text-justify">
                        d. Any U.S., EU, or other country
                        or region Denied Party Lists
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.F13D
                    </td>
                </tr>
            </tbody>

            <!--SUB-AGENT INFORMATION-->
            <tbody>
                <tr>
                    <th colspan="2" class="text-right">
                        SUB-AGENT INFORMATION
                    </th>
                </tr>

                <tr>
                    <td class="text-justify">
                        Will any sub-agent (defined as a third-party
                        person or COMPANY not on your company payroll)
                        be used or contracted with to interact with
                        government officials or government controlled
                        companies on your or our behalf?
                        <br />
                        <em>Note:</em> Interaction may include direct
                        face-to-face, telephone communications,
                        filing papers in person or other electronic means,
                        obtaining documentation directly or direct
                        payment of a duty or fee.
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.G1
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="font-style: italic;" class="text-justify">
                        If yes, for each sub-agent, please provide
                        the following information (please note,
                        due diligence may be required for sub-agents)
                    </td>
                </tr>

                @{
                    var count = Model.TprResponse.G2A.Split("; ").Count();
                    var g2a = Model.TprResponse.G2A.Split("; ");
                    var g2b = Model.TprResponse.G2B.Split("; ");
                    var g2c = Model.TprResponse.G2C.Split("; ");
                    var g2d = Model.TprResponse.G2D.Split("; ");
                }

                @for (var i = 0; i < count; i++)
                {
                    <tr>
                        <td>
                            a. Sub-agent business name
                        </td>
                        <td class="text-right">
                            @g2a[i]
                        </td>
                    </tr>

                    <tr>
                        <td>
                            b. Primary sub-agent contact
                        </td>
                        <td class="text-right">
                            @g2b[i]
                        </td>
                    </tr>

                    <tr>
                        <td>
                            c. Sub-agent email
                        </td>
                        <td class="text-right">
                            <email>@g2c[i]</email>
                        </td>
                    </tr>

                    <tr style="border-bottom: 2px solid black;">
                        <td>
                            d. Services to be provided by sub-agent
                        </td>
                        <td class="text-right">
                            @g2d[i]
                        </td>
                    </tr>
                }
            </tbody>

            <!--SIGNATURE AND CERTIFICATION-->
            <tbody>
                <tr>
                    <th colspan="2" class="text-right">
                        SIGNATURE AND CERTIFICATION
                    </th>
                </tr>

                <tr>
                    <td>
                        Full Name
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.H1
                    </td>
                </tr>

                <tr>
                    <td>
                        Email Address
                    </td>
                    <td class="text-right">
                        <email>@Model.TprResponse.H2</email>
                    </td>
                </tr>

                <tr>
                    <td>
                        Date
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.H3
                    </td>
                </tr>

                <tr>
                    <td>
                        Company Name, if applicable
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.H4
                    </td>
                </tr>

                <tr>
                    <td>
                        Title, if applicable
                    </td>
                    <td class="text-right">
                        @Model.TprResponse.H5
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>